.carousel-item {
  height: 800px;
  background-size: contain;
  background-position: 50% 50%;
}

.test-item {
  height: 800px;
  background-size: contain;
  background-position: 50% 50%;
}
#table-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container1 {
  display: flex;
  flex-direction: row;
}
.container2 {
  display: flex;
  flex-direction: row;
}

body {
  text-align: center;
}

.section-title {
  color: #326ddb;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 50px;
}

#records-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#records-section {
  display: flex;
  justify-content: center;
}

.records {
  margin-left: 5em;
  margin-right: 5em;
}

.records h3 {
  color: #154296;
}

.distance-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

.distance-group h4 {
  text-align: left;
}

.number {
  color: #87909e;
  width: 17px;
  margin-right: 8px;
}

.name {
  color: #aa1923;
  width: 170px;
  text-align: left;
}

.time {
  font-weight: bold;
  color: #aa1923;
  text-decoration: underline;
  margin-right: 12px;
}

.year {
  font-weight: bold;
}

.school-item {
  color: #aa1923;
  font-size: 24px;
  font-weight: bold;

}
